<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="this is description">
  <title>SUITMEDIA MSIB BATCH 6</title>
</head>

<body>
  <a href="#content" class="skip_link">Skip to content ?</a>

  <!-- Desktop Navbar -->
  <nav class="nav">
    <a class="logo" href="#">
      <img src="../public/images/heros/logo.png" alt="Logo" class="logo-img">
    </a>
    <ul class="nav_list">
      <li class="nav_items"><a href="#">Work</a></li>
      <li class="nav_items"><a href="#">About</a></li>
      <li class="nav_items"><a href="#">Services</a></li>
      <li class="nav_items"><a href="#">Ideas</a></li>
      <li class="nav_items"><a href="#">Careers</a></li>
      <li class="nav_items">
        <a href="https://www.linkedin.com/in/mocheru" target="_blank" rel="noreferrer">Contact</a>
      </li>
    </ul>
  </nav>

  <!-- Jumbotron -->
  <div class="hero" style="
        background-image: linear-gradient(
            rgba(0, 0, 5, 0.5),
            rgba(0, 0, 5, 0.5)
          ),
          url('images/heros/bg.jpeg');
      ">
    <div class="hero_inner">
      <h1 class="hero_title">Ideas</h1>
      <p class="hero_subtitle">
        Where all our great things begin
      </p>
    </div>
  </div>

  <!-- Content -->
  <main id="content">
    <section class="content">
      <div class="latest">
        <h2>Explore Ideas</h2>

        <div class="showing">
          <label for="showForPage">Showing 1-10 of 100</label>
        </div>
        <div class="sort">
          <div id="sortOptions"></div>
          <label for="itemsPerPage">Show per Page:</label>
          <select id="itemsPerPage">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>


          <label for="sortBy">Sort By:</label>
          <select id="sortBy">
            <option value="newest">Newest</option>
            <option value="oldest">Oldest</option>
          </select>

        </div>
      </div>
      <div class="list" id="tes"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <p>Copyright © Mochamad Heru Septiana Noor | Suitmedia | 2023</p>
  </footer>
</body>

</html>